<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>File Info</title>
  </head>
  <body>
    <%- include('reusables/navbar')%>

    <header>
      <h1><%=header%>'s Info</h1>
      <button>
        <a href="/fileForm/<%=fileInfo.id%>/delete">Delete this file</a>
      </button>
      <button>
        <a href="/fileForm/<%=fileInfo.id%>/update">Update this file</a>
      </button>
    </header>
    <main>
      <div class="selected-file-info">
        <p>File name: <%=fileInfo.name%></p>

        <p>File size: <%=fileInfo.fileSize%></p>

        <p>Added on: <%=fileInfo.added%></p>

        <p>File type: <%=fileInfo.fileType%></p>

        <p>Owner: <%=fileInfo.ownerID%></p>

        <a href="<%=fileInfo.fileURL%>" download>Download</a>
      </div>
    </main>
  </body>
</html>
